.spares {
  &__error {
    text-align: center;
    width: 100%;

    & h3 {
      margin-bottom: 15px;
    }

    & img {
      margin-bottom: 15px;
    }
  }
}

.spares__anim {
  opacity: 0;
  visibility: hidden;
}
.spares__anim-enter {
  opacity: 0;
  visibility: hidden;
}
.spares__anim-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
  visibility: visible;
}
.spares__anim-enter-done {
  opacity: 1;
  visibility: visible;
}
